language: python
python:
  - "3.6"
install:
  - pip install -U pytest
  - pip install -r python_wrapper/requirements.txt
script:
  # for Python API wrapper
  - cd python_wrapper
  - python -m pytest tests/
